<!DOCTYPE html>
<html>
  <head>
    <title>Lab1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://i.icomoon.io/public/a8c6eb6311/TLock/style.css">
  </head>

<body>
  <nav class="navbar navbar-dark bg-faded" style="border-radius: 0; background-color: #8FBC94">
    <%= link_to "CoderPhoto", root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <%= link_to "Timeline", photos_path, class: 'nav-link' %>
      </li>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
